<!-- <h3 class="contact-title">Contact me</h3> -->
{% if site.author.twitter %}
  <a href="https://twitter.com/{{ site.author.twitter }}" class="sidebar-social-icon twitter" target="_blank"></a>
{% endif %}

{% if site.author.facebook %}
  <a href="https://facebook.com/{{ site.author.facebook }}" class="sidebar-social-icon facebook" target="_blank"></a>
{% endif %}

{% if site.author.weibo %}
  <a href="http://www.weibo.com/{{ site.author.weibo }}" class="sidebar-social-icon weibo" target="_blank"></a>
{% endif %}

{% if site.author.github %}
  <a href="https://github.com/{{ site.author.github }}" class="sidebar-social-icon github" target="_blank"></a>
{% endif %}

{% if site.author.codepen %}
  <a href="http://codepen.io/{{ site.author.codepen }}" class="sidebar-social-icon codepen" target="_blank"></a>
{% endif %}

{% if site.author.dribbble %}
  <a href="https://dribbble.com/{{ site.author.dribbble }}" class="sidebar-social-icon dribbble" target="_blank"></a>
{% endif %}

{% if site.author.email %}
    <a href="mailto:{{ site.email }}" class="sidebar-social-icon email"></a>
{% endif %}

<!-- {% if site.author.qrcode %}
<div id="qrcode" >
    <img src="{{site.baseurl}}/assets/img/{{site.author.qrcode}}" style="margin: 0 auto;display: block;" width="150" height="150" alt="">
</div>
{% endif %} -->
