<h3 class="contact-title">Contact me</h3>
<ul>
    {% if site.author.facebook %}
    <li>
        <a href="https://facebook.com/{{ site.author.facebook }}" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
    </li>
    {% endif %}
    {% if site.author.github %}
    <li class="github">
        <a href="http://github.com/{{site.author.github}}" target="_blank">
            <i class="fa fa-github"></i>
        </a>
    </li>
    {% endif %}
    {% if site.author.email %}
    <li class="email">
        <a href="mailto:{{site.author.email}}">
            <i class="fa fa-envelope-o"></i>
        </a>
    </li>
    {% endif %}
</ul>
{% if site.author.qrcode %}
<div id="qrcode" >
    <img src="{{site.baseurl}}/assets/img/{{site.author.qrcode}}" style="margin: 0 auto;display: block;" width="150" height="150" alt="">
</div>
{% endif %}